<html lang="en">
    <%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

        <% if (hospitals.length> 0) {%>
            <% hospitals.forEach(hospital=>{ %>
                <% if (hospital.hospital == "5fd924e175aa0c4b7c984017") %>
                <%{%>
                <a href="/hospitals/<%= hospital._id %>">
                    <h3><%= hospital.name %></h3>
                </a>
                <%}%>
            <% }) %>
        <% }else{ %>
            <p>No hospitals</p>
        <% } %>

        <%- include("./partials/footer.ejs") %>
    </body>
</html>